h1 {
    text-align: right;
    font-family: Georgia, "Times New Roman", serif;
    margin: 100px;
    padding: 140px 40px;
    background-color: #003366;
    border-radius: 50px;
    border: 15px solid #00FF99;
    text-shadow: 2px 2px 1px #000;
    background-image: url(images/finner.jpg);
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.85;
}

body {
    font-family: Futura, Geneva, sans-serif;
    color: #20B2AA;
    background-color: #000000;
    background-image: url(images/background1.jpeg);
    background-repeat: repeat-y;
    background-position: right;
}

p {
    background-color: #000000;
}

h2 {
    font-family: Georgia, "Times New Roman", serif;
    color: #87CEFA;
}

#Videos {
    background-color: #0000CD;
    font-family: Georgia, "Times New Roman", serif;
}

.Contact {
    font-family: Georgia, "Times New Roman", serif;
    color: #FFFFFF;
}

div {
    background-image: url(images/omamsymbolsthumb.jpg);
    background-repeat: no-repeat;
    margin: 10px
}

footer {
    font-size: small;
    font-style: italic;
    text-align: center;
}

nav {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

ul {
    list-style-type: square;
}

main {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px 10px;
}

p {
    opacity: 0.75;
    border: 5px solid #33CCFF;
}

hr {
    border: 2px dashed #66FF33;
}