body {
    font-family: Futura, Geneva, sans-serif;
    color: #E0FFFF;
    background-color: #3B3B3B;
    background-image: url(images/background1.jpeg);
    margin: 70px;
    margin-top: 50px;
    padding: 5px 10px;
}

header {
    background-color: #3B3B3B;
}

h1 {
    font-size: xx-large;
    font-family: Georgia, "Times New Roman", serif;
    text-shadow: 3px 3px 3px #666;
    background-color: #3B3B3B;
    background-image: url(images/omamlogo.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px;
    margin: 0px;
    width: 66%;
    position: relative;
}

h2 {
    text-transform: uppercase;
    font-family: Georgia, "Times New Roman", serif;
    color: #FFFACD;
}

main {
    background-color: #000000;
    background-image: linear-gradient(to bottom, #19AFD0, #3B3B3B);
    margin-left: 160px;
    margin-top: 170px;
    padding: 10px;
}

#Videos {
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    background-color: #3B3B3B;
}

.Contact {
    text-transform: uppercase;
    font-family: Verdana, Geneva, sans-serif;
    color: #FDB930;
}

ul {
    list-style: none;
}

nav {
    float: left;
    width: 150px;
    padding: 5px;
    margin-top: 180px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #19AFD0;
}

nav a:visited {
    color: #FDB930;
}

nav a:hover {
    color: #BBDC0E;
}

div {
    background-image: url(images/omamsymbolsthumb.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
    padding: 5px;
}

p {
    text-indent: 5em;
    margin-top: 30px;
    display: inline-block;
}

footer {
    text-align: center;
    font-size: small;
    font-style: italic;
}

#wrapper {
    background-color: #3B3B3B;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-width: 960px;
    max-width: 2048px;
}

body,
header,
h1,
h2,
main,
#Videos,
#wrapper,
.Contact,
nav,
footer,
figure,
figcaption,
aside,
section,
article {
    display: block;
}

@media only screen and (max-width: 64em) {
    body {
        margin: 0;
    }
    #wrapper {
        width: auto;
    }
    main {
        margin-left: 0;
    }
    nav {
        float: none;
        width: auto;
    }
    #mobile {
        display: none;
    }
    #desktop {
        display: inline;
    }
}

@media only screen and (max-width: 64em) {
    .mobile-only {
        display: none;
    }
    body {
        margin: 0;
        background-color: #3B3B3B;
        background-image: none;
    }
    #wrapper {
        min-width: 0;
        width: auto;
    }
    main {
        margin-left: 0;
    }
    nav {
        float: none;
        width: auto;
        padding: 0.5em;
    }
    nav ul {
        display: inline;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-right: 0.75em;
        padding-left: 0.75em;
        text-align: center;
    }
    h1 {
        text-align: center;
    }
}